<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Job Change</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Job Change in Datascientists</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="number" step=any min=0 max=10 name="citydev" placeholder="City Development Index" required="required" />
      <select name="gender">
        <option value=1>Male</option>
        <option value=2>Female</option>
        <option value=3>Other</option>
      </select>
      <select name="relevent">
        <option value=0>No Relevent Experience</option>
        <option value=1>Has Relevent Experience</option>
      </select>
      <select name="enrollment">
        <option value=1>No Enrollment</option>
        <option value=2>Part time Enrollment</option>
        <option value=3>Fulltime Enrollment</option>
      </select>
      <select name="edlevel">
        <option value=1>Masters</option>
        <option value=2>Graduate</option>
        <option value=3>Primary School</option>
        <option value=4>High School</option>
        <option value=5>PhD</option>
      </select>
      <select name="major">
        <option value=1>No Major</option>
        <option value=2>Arts</option>
        <option value=3>Humanities</option>
        <option value=4>STEM</option>
        <option value=5>Business Degree</option>
        <option value=6>Other</option>
      </select>
      <input type="number" name="experience" placeholder="Experience" required="required" />
      <select name="comsize">
        <option value=1>10</option>
        <option value=2>50</option>
        <option value=3>100</option>
        <option value=4>500</option>
        <option value=5>1000</option>
        <option value=6>5000</option>
        <option value=7>10000</option>
        <option value=8>>10000</option>
      </select>
      <select name="comtype">
        <option value=1>Pvt Ltd</option>
        <option value=2>Early Stage Startup</option>
        <option value=3>Public Sector</option>
        <option value=4>Funded Startup</option>
        <option value=5>NGO</option>
        <option value=6>Other</option>
      </select>
      <input type="number" name="lastnew" placeholder="Last New Job" required="required" />
      <input type="number" name="training" placeholder="Training Hours" required="required" />

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
